@font-face {
    font-family: 'Nevis Bold';
    src: url('../font/Nevis_Bold.ttf');
}

@font-face {
    font-family: 'US101';
    src: url('../font/US101.ttf');
}

@font-face {
    font-family: 'Nautilus';
    src: url('../font/Nautilus.otf');
}

@font-face {
    font-family: 'AvenirNext';
    src: url('../font/AvenirNextLTPro-MediumCn.otf');
}

@font-face {
    font-family: 'AvenirNextHeavy';
    src: url('../font/AvenirNextLTPro-HeavyCn_0.otf');
}

