.wrapper-about-description{
	position: relative;
	color: rgb(112,123,123);
    font-family: 'AvenirNext';
    text-align: center;
    margin-bottom: 40px;
}
.wrapper-vision-mision{
	position: relative;
	width: 100%;
}
.wrapper-vision-mision .wrapper-item{
	float: left;
	width: 50%;
	padding: 1%;
}
.wrapper-vision-mision .wrapper-item .wrapper-content{
	position: relative;
	width: 100%;
}
.wrapper-vision-mision .wrapper-item .wrapper-content .wrapper-description{
	position: absolute; 
	top: 75px; 
	width: 100%; 
	z-index: 1;
}
.wrapper-vision-mision .wrapper-item .wrapper-content .wrapper-description .content{
	position: relative;
	margin: 0 auto;
	width: 70%;
	text-align: center;
}
.wrapper-vision-mision .wrapper-item .wrapper-content .wrapper-description .content .title{
	margin: 0;
	margin-bottom: 30px;
	color: rgb(255,255,255);
    font-family: 'US101';
}
.wrapper-vision-mision .wrapper-item .wrapper-content .wrapper-description .content .description{
	color: rgb(255,255,255);
    font-family: 'AvenirNext';
    width: 85%;
    margin: 0 auto;
}
.wrapper-vision-mision .wrapper-item .wrapper-content img{
	width: 100%;
}
.wrapper-show-image{
	text-align: center;
	margin: 60px auto 0px;
}
.wrapper-show-image .title{
    font-family: 'US101';
	color: rgb(112,123,123);

}
.wrapper-show-image img{
	height: 160px; 
	width: auto;
	margin-top: 40px;
}
@media (max-width: 480px) {
	.background-content{
		padding-bottom: 40px;
	}
	.wrapper-vision-mision .wrapper-item{
		width: 100%;
	}
	.wrapper-vision-mision .wrapper-item .wrapper-content .wrapper-description{
		top: 50px;
	}
	.wrapper-vision-mision .wrapper-item .wrapper-content .wrapper-description .content .title{
		margin-bottom: 20px;
	}
	.wrapper-vision-mision .wrapper-item .wrapper-content .wrapper-description .content .description{
		font-size: 11px;
	}
	.wrapper-show-image img{
		height: auto; 
		width: 80%;
		margin-top: 20px;
	}
}