.slider-second{
	width: 100%;
}
.slider-second .item{
	text-align:center;
}
.slider-second .item .wrapper-item{
	padding:3%;
}
.slider-second .item .wrapper-item .wrapper-thumnail .thumnail{
	width: 100%;
}
.slider-second .item .wrapper-item .wrapper-thumnail .wrapper-title{
	width: 90%; 
	margin: -80px auto 0px; 
	display: table; 
	height: 60px;
}
.slider-second .item .wrapper-item .wrapper-thumnail .wrapper-title .title{
	display: table-cell; 
	vertical-align: middle; 
	height: 60px;
	cursor: pointer;
	color: white;
	font-size: 16px;
	font-weight: normal;
    font-family: 'US101';
}
.slider-second .item .wrapper-item .wrapper-thumnail .wrapper-title a:hover{
	text-decoration: none;
}
.slider-second .item .wrapper-item .description{
	margin-top: 40px;
	color: white;
    font-family: 'AvenirNext';
    font-weight: normal;
}
.slider-second .item .wrapper-item .description a{
	color: white;
}
.slider-second.owl-theme .owl-controls .owl-buttons{
	position: relative;
	bottom: 180px;
}
.slider-second.owl-theme .owl-controls .owl-buttons .owl-prev,
.slider-second.owl-theme .owl-controls .owl-buttons .owl-next{
	position: absolute;
	background-color: white;
	color: rgb(68,217,217);
	font-size: 30px;
	padding: 6px 15px 5px;
}
.slider-second.owl-theme .owl-controls .owl-buttons .owl-prev{
	left: -120px;
	margin: 0;
}
.slider-second.owl-theme .owl-controls .owl-buttons .owl-next{
	right: -120px;
}
.slider-second.owl-theme .owl-controls .owl-buttons .owl-prev .fa{
    margin-left: -10px;
    top: .7px;
    left: 2.1px;
    position: relative;
}
.slider-second.owl-theme .owl-controls .owl-buttons .owl-next .fa{
    margin-right: -10px;
    top: .7px;
    right: 2.1px;
    position: relative;
}

@media (max-width: 480px) {
	.slider-second .item .wrapper-item .wrapper-thumnail .wrapper-title{
		width: 55%;
		margin: -115px auto 0px;
	}
	.slider-second .item .wrapper-item .description{
		margin-top: 70px;
	}
	.slider-second.owl-theme .owl-controls .owl-buttons .owl-prev{
		left: 25px;
	}
	.slider-second.owl-theme .owl-controls .owl-buttons .owl-next{
		right: 25px;
	}
}