.background-content .content-wrapper .wrapper-vidio{
	position: relative; 
	width: 100%;
}
.background-content .content-wrapper .wrapper-vidio .vidio-content{
	float: left; 
	width: 25%; 
	padding: 1%;
	cursor: pointer;
}
.background-content .content-wrapper .wrapper-vidio .vidio-content .thumnail-vidio{
	width: 100%; 
	height: 25vh; 
	background-position: center; 
	background-size: cover;
}
.background-content .content-wrapper .wrapper-vidio .vidio-content .thumnail-vidio .wrapper-icon{
	display: table-cell; 
	width: 100vw; 
	height: 25vh; 
	vertical-align: middle; 
	text-align: center;
}
.background-content .content-wrapper .wrapper-vidio .vidio-content .thumnail-vidio .wrapper-icon img{
	width: 60px;
}
.background-content .content-wrapper .wrapper-vidio .vidio-content .description h2{
    font-family: 'US101';
	color: rgb(255,255,255);
	margin-top:10px;
	margin-bottom: 5px;
}
.background-content .content-wrapper .wrapper-vidio .vidio-content .description p{
    font-family: 'AvenirNext';
	color: rgb(255,255,255);
}
.background-content.background-content-first.for-spase-wrapper{
	padding: 80px 0px;
}

#vidio-show{
	position: fixed; 
	z-index: 10;
	bottom: 0; 
	height: 0vh; 
	width: 100%;
	padding-top: 0vh;
	background-color: rgba(0, 165, 165,1);
	transition: all .51s;
}
#vidio-show.active{
	height: 100vh; 
	padding-top: 15vh;
}
#vidio-show .wrapper{
	position: relative;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
#vidio-show .wrapper .youtube-embed-warpper{
	position: relative; 
	margin: 0 auto;
	width: 60%; 
}
#vidio-show .wrapper .youtube-embed-close{
	cursor: pointer;
	position: absolute;
	top: -20px;
	right: -20px;
	visibility: hidden;
	opacity: 0;
	transition: all .51s;
}
#vidio-show.active .wrapper .youtube-embed-close{
	visibility: visible;
	opacity: 1;
}
#vidio-show .wrapper .youtube-embed-close i.fa{
	color: rgb(255,255,255);
	font-size: 48px;
}
#vidio-show .wrapper #youtube-embed iframe{
	width: 100%;
	height: 40vh;
	margin-bottom: 20px;
}
#vidio-show .wrapper #wrapper-description{
	position: relative;
	margin: 0 auto;
	width: 75%;
	font-family: 'AvenirNext';
	color: rgb(255,255,255);
}
#vidio-show #wrapper-description h1{
    font-family: 'Nautilus';
    font-weight: normal;
    margin: 0;
    margin-bottom: 20px;
}


@media (max-width: 480px) {
	.background-content .content-wrapper .wrapper-vidio .vidio-content{
		width: 100%;
	}
	.background-content .content-wrapper .wrapper-vidio .vidio-content .thumnail-vidio{
		height: 50vh;
	}
	.background-content .content-wrapper .wrapper-vidio .vidio-content .thumnail-vidio .wrapper-icon{
		height: 50vh;
	}
	.background-content .content-wrapper .wrapper-vidio .vidio-content .description p{
		margin-bottom: 40px;
	}

	.background-content.background-content-first.for-spase-wrapper{
		padding: 40px 0px;
	}

	#vidio-show .wrapper{
		width: 90%;
	}
	#vidio-show .wrapper .youtube-embed-warpper{
		width: 100%;
	}
	#vidio-show .wrapper .youtube-embed-close{
		right: 15px;
	}
	#vidio-show .wrapper #youtube-embed iframe{
		height: 30vh;
	}
	#vidio-show .wrapper #wrapper-description{
		width: 80%;
		height: 45vh;
		overflow: auto;
	}
}