.slider{
	width: 100%;
	height: 100vh;
}
.slider .item .img{
	width: 100%; 
	height: 100vh;
}
.slider.owl-theme .owl-controls{
	position: absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    margin: 0;
}
.slider.owl-theme .owl-controls .owl-pagination{
	position: absolute;
	width: 100%;
	bottom: 40px;
	z-index: 1;
}
.slider.owl-theme .owl-controls .owl-pagination .owl-page{
	zoom: 1.7;
}
.slider.owl-theme .owl-controls .active span,
.slider-product.owl-theme .owl-controls .active span{
	background-color: rgb(17,177,206) !important;
}
.slider.owl-theme .owl-controls .owl-buttons{
	height: 100vh;
	width: 100vw;
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.slider.owl-theme .owl-controls .owl-buttons .owl-prev{
	position: absolute;
	left: 10px;
	background-color: rgba(0,0,0,0);
}
.slider.owl-theme .owl-controls .owl-buttons .owl-next{
	position: absolute;
	right: 10px;
	background-color: rgba(0,0,0,0);
}
.slider.owl-theme .owl-controls .owl-buttons .owl-prev .fa{
	font-size: 40px;
    margin-left: -10px;
    text-shadow: 0px 7px 10px rgba(65,65,65,.6);
}
.slider.owl-theme .owl-controls .owl-buttons .owl-next .fa{
	font-size: 40px;
	margin-right: -10px;
    text-shadow: 0px 7px 10px rgba(65,65,65,.6);
}

.slider-second{
	width: 100%;
}
.slider-second .item{
	text-align:center;
}
.slider-second .item .wrapper-item{
	padding:3%;
}
.slider-second .item .wrapper-item .wrapper-thumnail .thumnail{
	width: 100%;
}
.slider-second .item .wrapper-item .wrapper-thumnail .wrapper-title{
	width: 90%; 
	margin: -80px auto 0px; 
	display: table; 
	height: 60px;
}
.slider-second .item .wrapper-item .wrapper-thumnail .wrapper-title .title{
	display: table-cell; 
	vertical-align: middle; 
	height: 60px;
	color: white;
	font-size: 16px;
	font-weight: normal;
    font-family: 'US101';
}
.slider-second .item .wrapper-item .description{
	margin-top: 40px;
	color: white;
    font-family: 'AvenirNext';
    font-weight: normal;
}
.slider-second.owl-theme .owl-controls .owl-buttons{
	position: relative;
	bottom: 180px;
}
.slider-second.owl-theme .owl-controls .owl-buttons .owl-prev,
.slider-second.owl-theme .owl-controls .owl-buttons .owl-next{
	position: absolute;
	background-color: white;
	color: rgb(68,217,217);
	font-size: 30px;
	padding: 6px 15px 5px;
}
.slider-second.owl-theme .owl-controls .owl-buttons .owl-prev{
	left: -120px;
	margin: 0;
}
.slider-second.owl-theme .owl-controls .owl-buttons .owl-next{
	right: -120px;
}
.slider-second.owl-theme .owl-controls .owl-buttons .owl-prev .fa{
    margin-left: -10px;
}
.slider-second.owl-theme .owl-controls .owl-buttons .owl-next .fa{
    margin-right: -10px;
}

.slider-product{
	width: 100%;
}
.slider-product .item .wrapper-product{
    width: 75%;
    margin: 0 auto;
    transition: 0.6s;
	transform-style: preserve-3d;
	height: 75vh;
	overflow-y: hidden;
}

.slider-product .item .wrapper-product .front{
	width: 100%; 
	height: 75vh;
	display: table;
	text-align: center;
	position: relative;
}
.slider-product .item .wrapper-product .front .vertical-align-middle{
	width: 100%; 
	height: 75vh;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.slider-product .item .wrapper-product .front .vertical-align-middle img{
	width: 55%;
}
.slider-product .item .wrapper-product .back{
	width: 100%; 
	height: 75vh;
	display: table;
	text-align: center;
	position: relative;
}
.slider-product .item .wrapper-product .back .vertical-align-middle{
	width: 100%; 
	height: 75vh;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.slider-product .item .wrapper-product .back .vertical-align-middle .col{
	margin-bottom: 20px;
	text-align: center;
}
.slider-product .item .wrapper-product .back .vertical-align-middle .col img{
	width: 100%;
}

.scroldown-wrapper{
	position: relative;
}
.scroldown-wrapper .position{
	position: absolute; 
	top: -20px; 
	width: 100%;
}
.scroldown-wrapper .position .wrapper-content{
	position: relative;
	text-align: center;
}
.scroldown-wrapper .position .wrapper-content .circle-shape{
	position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: rgb(255, 255, 255);
    z-index: 5;
    top: 3.5px;
}
.scroldown-wrapper .position .wrapper-content .left{
	left: 15px;
}
.scroldown-wrapper .position .wrapper-content .right{
	left: -15px;
}
.scroldown-wrapper .position .wrapper-content .wrapper-shape{
	position: relative;
	background-color: rgb(82,209,239);
	padding: 6px 50px;
	color: white;
	font-size: 20px;
	cursor: pointer;
    font-family: 'US101';
    font-weight: normal;
}
.scroldown-wrapper .position .wrapper-content .wrapper-shape:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: rgb(82,209,239);
    border-width: 20px;
    margin-top: -20px;
}
.scroldown-wrapper .position .wrapper-content .wrapper-shape:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: rgb(82,209,239);
	border-width: 20px;
    margin-top: -20px;
}

.flag-title-wrapper{
	text-align: center;
	margin: 0px auto;
	display: table;
}
.flag-title-wrapper .vertical-align-midle{
	height: 60px;
	display: table-cell;
	vertical-align: middle;
}
.flag-title-wrapper .vertical-align-midle .flag-title{
	position: relative;
	top: -5px;
	height: 60px;
	margin-bottom: 0;
	margin-left: 30px; 
	margin-right: 30px;
	padding: 0px 40px;
	position: relative;
	font-size: 47px;
    font-family: 'Nautilus';
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(150,150,150,.6);
	box-shadow: 0px 10px 10px rgba(150,150,150,.6);
}
.flag-title-wrapper .vertical-align-midle .flag-title:before,
.flag-title-wrapper .vertical-align-midle .flag-title:after{
	content: "";
	position: absolute;
	display: block;
	top: 0px;
	z-index: 1;
}
.flag-title-wrapper .vertical-align-midle .left{
	margin-right: 20px;
}
.flag-title-wrapper .vertical-align-midle .right{
	margin-left: 20px;
}
.flag-title-wrapper .vertical-align-midle .circle-shape{
	width: 20px; 
	height: 20px; 
	border-radius: 100%; 
	box-shadow: 0px 10px 10px rgba(150,150,150,.6);
}

.background-content{
	width: 100%; 
	margin:0;
	padding-bottom: 80px;
}
.background-content .pic-gofress{
	width: 75%;
	margin-bottom: 20px;
}
.background-content .title-background{
	position: relative; 
	top: -25px;
}
.background-content .content-wrapper{
	width: 70%; 
	margin:0 auto;
}

.background-content .content-wrapper .content-description{
	text-align: center;
	width: 60%;
	margin:30px auto 160px;
    font-family: 'AvenirNext';
    color: rgb(85,85,85);
}

.background-content-first{
	background-color: rgb(255,239,211);
}
.background-content .for-btn-see-more{
	width: 80%;
	margin:40px auto;
	text-align: center;
}
.background-content .for-btn-see-more .btn-see-more{
	text-transform: uppercase;
	text-decoration-line: none;
	font-size: 30px;
    font-family: 'US101';
	padding: 5px 30px;
	border-radius: 5px;
}
.background-content-first .for-btn-see-more .btn-see-more{
	color: rgb(255,239,211);
	background-color: rgb(68,217,217);
	transition: all .51s;
}
.background-content-first .for-btn-see-more .btn-see-more:hover{
	background-color: rgb(0,207,207);
}

.background-content-second .for-btn-see-more .btn-see-more{
	color: rgb(68,217,217);
	background-color: rgb(255,239,211);
	transition: all .51s;
}
.background-content-second .for-btn-see-more .btn-see-more:hover{
	background-color: rgb(255,245,245);
}

.background-content-second{
	background-color: rgb(68,217,217);

}

.background-content .flag-title-wrapper.color .vertical-align-midle .flag-title{
	background: rgb(68,217,217); 
	color: rgb(255,255,255);
}
.background-content .flag-title-wrapper.color .vertical-align-midle .flag-title:before{
	left: -30px;
	border: 30px solid rgb(68,217,217); 
	border-right-width: 20px;
	border-left-color: transparent;
}
.background-content .flag-title-wrapper.color .vertical-align-midle .flag-title:after{
	right: -30px;
	border: 30px solid rgb(68,217,217); 
	border-left-width: 20px;
	border-right-color: transparent;
}
.background-content-first .flag-title-wrapper.color .vertical-align-midle .circle-shape{
	background: rgb(68,217,217); 
}

.background-content .flag-title-wrapper.white .vertical-align-midle .flag-title{
	background: rgb(255,255,255); 
	color: rgb(68,217,217);
}
.background-content .flag-title-wrapper.white .vertical-align-midle .flag-title:before{
	left: -30px;
	border: 30px solid rgb(255,255,255); 
	border-right-width: 20px;
	border-left-color: transparent;
}
.background-content .flag-title-wrapper.white .vertical-align-midle .flag-title:after{
	right: -30px;
	border: 30px solid rgb(255,255,255); 
	border-left-width: 20px;
	border-right-color: transparent;
}
.background-content .flag-title-wrapper.white .vertical-align-midle .circle-shape{
	background: rgb(255,255,255); 
}

.lates-news-wrapper{
	margin: 50px auto 80px;
}

.lates-news-wrapper .wrapper-news{
	width: 100%;
	border-radius: 5px;
	background-color: rgb(68,217,217);
	padding: 10px 10px 20px;
	position: relative;
}
.lates-news-wrapper .wrapper-news:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: rgb(68,217,217);
	border-width: 30px;
	margin-left: -30px;
}
.lates-news-wrapper .wrapper-news h3{
	margin: 0 0 10px;
	color: white;
    font-family: 'US101';
}
.lates-news-wrapper .wrapper-news label{
	color: rgb(89,89,89);
    font-family: 'AvenirNext';
}
.lates-news-wrapper .wrapper-news a{
	color: white;
    font-family: 'AvenirNext';
}


@media (max-width: 480px) {
	.slider .item .img{
		background-repeat: no-repeat;
		background-position: center middle;
	}
	.slider.owl-theme .owl-controls .owl-buttons{
		display: none;
	}

	.background-content .content-wrapper{
		width: 100%;
	}
	.background-content .pic-gofress{
		width: 100%;
	}

	.flag-title-wrapper .vertical-align-midle .circle-shape{
		width: 10px;
		height: 10px;
	}
	.flag-title-wrapper .vertical-align-midle .left{
		margin-right: 10px;
	}
	.flag-title-wrapper .vertical-align-midle .right{
		margin-left: 10px;
	}

	.background-content .flag-title-wrapper .vertical-align-midle .flag-title{
		font-size: 30px;
		padding: 0px 10px;
		height: 40px;
		margin-left: 15px;
		margin-right: 15px;
	}
	.background-content .flag-title-wrapper .vertical-align-midle .flag-title::before{
		border-width: 20px 15px !important;
	}
	.background-content .flag-title-wrapper .vertical-align-midle .flag-title::after{
		border-width: 20px 15px !important;
	}
	.background-content .for-btn-see-more .btn-see-more{
		font-size: 20px;
	}

	.slider-product .item .wrapper-product,
	.slider-product .item .wrapper-product .front,
	.slider-product .item .wrapper-product .back,
	.slider-product .item .wrapper-product .vertical-align-middle{
		height: 70vh;
	}
	.slider-product .item .wrapper-product .front .vertical-align-middle img{
		width: 100%;
	}

	.slider-second .item .wrapper-item .wrapper-thumnail .wrapper-title{
		width: 55%;
		margin: -115px auto 0px;
	}
	.slider-second .item .wrapper-item .description{
		margin-top: 70px;
	}
	.slider-second.owl-theme .owl-controls .owl-buttons .owl-prev{
		left: 25px;
	}
	.slider-second.owl-theme .owl-controls .owl-buttons .owl-next{
		right: 25px;
	}

	.lates-news-wrapper{
		margin-bottom: 40px;
	}
	.lates-news-wrapper .wrapper-news{
		margin-bottom: 20px;
	}
	.lates-news-wrapper .wrapper-news::after{
		display: none;
	}
}