.nav{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 15;
	width: 100%;
	height: 95px;
	background-color: rgba(110,110,110,.1);
	transition: all .51s;
}

.nav .containt{
	position: relative;
	padding-left: 10%;
	padding-right: 5%;
}

.nav .containt .icon-nav{
	float: left;
	height: 95px;
	transition: all .51s;
}
.nav .containt .icon-nav .icon-nav-wrapper{
	height: 95px;
	display: table-cell;
	vertical-align: middle;
	transition: all .51s;
}
.nav .containt .icon-nav .icon-nav-wrapper img{
	width: 165px;
	transition: all .51s;
}

.nav .containt .nav-link-list{
	height: 95px;
	margin: 0 auto;
	float: left;
	transition: all .51s;
}
.nav .containt .nav-link-list .nav-link-list-ul{
	height: 95px;
	display: table-cell;
	vertical-align: middle;
	transition: all .51s;
}
.nav .containt .nav-link-list .nav-link-list-ul .nav-link-list-li{
	position: relative;
	display: inline-block;
	list-style: none;
	margin-right: 40px;
	border-bottom: 3px solid rgba(0,0,0,0);
	transition: all .51s;
}
.nav .containt .nav-link-list .nav-link-list-ul .nav-link-list-li:hover{
	border-bottom-color: white;
	transition: all .51s;
}
.nav .containt .nav-link-list .nav-link-list-ul .nav-link-list-li a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	text-shadow: 1px 1px 10px grey;
	transition: all .51s;
    font-family: 'Nevis Bold';
}
.nav .containt .nav-link-list .nav-link-list-ul .nav-link-list-li a:hover{
	color: rgb(141,141,141);
}


.dropdown-hover .dropdown-hover-content{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 118%;
	background-color: rgb(82,209,239);
    box-shadow: 1px 4px 2px rgba(150,150,150,0.48);
}
.dropdown-hover:hover .dropdown-hover-content{
	visibility: visible;
	opacity: 1;
	transition: all .51s, visibility 0.2s, opacity 0.5s linear;
}
.dropdown-hover .dropdown-hover-content .list{
	width: 200px;
	padding: 10px;
	position: relative;
}
.dropdown-hover .dropdown-hover-content .list a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	text-shadow: 1px 1px 10px grey;
}

.slide-hover{
}
.slide-hover .icon{
	float: right;
}
.slide-hover .icon .fa{
	margin: 0;
	margin-left: -8px;
	color: white;
	transition: all .51s;
}
.slide-hover a:hover + .icon .fa{
	color: rgb(141,141,141);
}
.slide-hover .slide-hover-content{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 100%;
	background-color: rgb(82,209,239);
    box-shadow: -1px 4px 2px rgba(150,150,150,.48);
    padding-top: 10px;
}
.slide-hover:hover .slide-hover-content{
	visibility: visible;
	opacity: 1;
	transition: all .51s, visibility 0.2s, opacity 0.5s linear;
}
.slide-hover .slide-hover-content .list{
	width: 200px;
	padding-right: 20px;
	padding-left: 20px;
}
.nav .containt .connect-social{
	float: right;
	height: 95px;
	transition: all .51s;
}
.nav .containt .connect-social .social-wrapper{
	height: 95px;
	display: table-cell;
	vertical-align: middle;
	transition: all .51s;
}
.nav .containt .connect-social .social-wrapper img{
	cursor: pointer;
	width: 30px;
	transition: all .51s;
	margin-left: 10px;
}