.background-content .content-wrapper .time-publish{
	width: 60%; 
	margin:20px auto; 
	color: rgb(112,123,123); 
	font-size: 28px; 
	font-family: 'US101'; 
	text-align: center;
}
.background-content .content-wrapper .description{
	width: 100%;
	position: relative;
    font-family: 'AvenirNext';
    font-size: 18px;
    color: rgb(112,123,123);
    line-height: 1.6;
    margin-bottom: 60px;
}
.background-content .content-wrapper .description img{
	display: block;
	width: 100%;
	height: auto;
	margin-right: 20px;
	margin-bottom: 10px;
}
@media (max-width: 480px) {
	.background-content .content-wrapper .description{
		padding: 5%;
	}
}