.background-content .content-wrapper.content-wrapper-just-for-news-index{
	width: 80%;
}
.background-content .content-wrapper-just-for-news-index .time-publish{
	width: 60%; 
	margin:20px auto; 
	color: rgb(112,123,123); 
	font-size: 28px; 
	font-family: 'US101'; 
	text-align: center;
}
.background-content .content-wrapper-just-for-news-index .description{
	width: 100%;
	position: relative;
    font-family: 'AvenirNext';
    font-size: 18px;
    color: rgb(112,123,123);
    line-height: 1.6;
    margin-bottom: 60px;
}
.background-content .content-wrapper-just-for-news-index .description img{
	float: left;
	width: 50%;
	height: auto;
	margin-right: 20px;
	margin-bottom: 10px;
}

@media (max-width: 480px) {
	.background-content .content-wrapper-just-for-news-index .description img{
		width: 100%;
		margin-right: 0px;
		margin-bottom: 25px;
	}
}